<!-- <div class="content-wrapper">
  <div class="container-fluid form-t1"> -->
    <!-- filters -->
    <div class=" row col-md-12 mt-3">
      <div class="col-md-2 col-sm-2">
        <mat-form-field class="mat-form w-100">
          <mat-label>Search by Status</mat-label>
          <mat-select [(value)]="searchUserStatus">
            <mat-option value="all">All Users</mat-option>
            <mat-option value="active">Active</mat-option>
            <mat-option value="blocked">Blocked</mat-option>
            <!-- <mat-option value="suspended">Suspended</mat-option> -->
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2 col-sm-2">
        <mat-form-field class="mat-form w-100">
          <mat-label>Search by Type</mat-label>
          <mat-select  [(value)]="searchBy">
            <mat-option value="all">Select</mat-option>
            <mat-option value="mobile">Mobile</mat-option>
            <!-- <mat-option value="email">Email</mat-option> -->
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="searchBy == 'email'" class="col-md-3 col-sm-3 ">
        <mat-form-field class="example-full-width mat-form w-100">
          <input matInput placeholder="Enter email" [(ngModel)]="searchText" />
        </mat-form-field>
      </div>
      <div *ngIf="searchBy == 'mobile'" class="col-md-3 col-sm-3">
        <mat-form-field class="example-full-width mat-form w-100">
          <input matInput placeholder="Enter mobile(w/o +1)" [(ngModel)]="searchText" />
        </mat-form-field>
      </div>
      <div class="col-md-2 col-sm-2 filters">
        <mat-form-field class="mat-form w-100">
          <input matInput readonly [matDatepicker]="picker" placeholder="start date"
            [(ngModel)]="searchStartDate" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-2 col-sm-2 filters">
        <mat-form-field class="mat-form w-100">
          <input matInput readonly [matDatepicker]="endpicker" placeholder="end date"
            [(ngModel)]="searchEndDate" />
          <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
          <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <!-- filters end -->

    <!-- buttons -->
    <div class="row col-md-12">
      <div class=" col-md-5 col-sm-7">
        <button class="btn btn-info mb-2 " (click)="searchFiltersBtn()">Search</button>
        <button class=" btn btn-danger ml-1 mb-2" (click)="onReset()">Reset</button>
      </div>
      <div class="col-md-7  col-sm-5">
        <div class="form-group pagination " style="float:right">
          <label class="mr-3" style="line-height: 40px;">Records</label>
          <div>
            <select class="form-control" [(ngModel)]="pageLimit">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- buttons end -->
    <!--User table -->
    <div class="row">
      <div class="col-12">
        <ngx-datatable #table class="bootstrap" [rows]="reportList" [loadingIndicator]="loadingIndicator"
          [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [limit]="pageLimit" [rowHeight]="'auto'"
          [reorderable]="reorderable" [scrollbarH]="true">
          <ngx-datatable-column name="User Name">
            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              {{ row.userName ? row.userName : "NA" }}
            </ng-template>
          </ngx-datatable-column>
         
          <ngx-datatable-column name="First Name">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.firstName ? row.firstName : "NA" }}
              </ng-template>
            </ngx-datatable-column>
         
            <ngx-datatable-column name="Last Name">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.lastName ? row.lastName : "NA" }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Gender">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{ row.gender ? row.gender : "NA" }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Images" width="200">
              <ngx-datatable-column name="Images" width="200">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <div class="position-relative" >
                    <button  #statusBtn [ngClass]="{disabledclass:row['images'].length == 0 }" class="btn btn-secondary buttoon" (click)="openImageModal(row.images,showImages,statusBtn)">images</button>
                    <span class="count" [ngClass]="{disabledcount:row['images'].length == 0 }" >{{row['images'].length}}</span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable-column>
          <ngx-datatable-column name="Mobile" width="200">
            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              {{ row.mobile ? row.mobile : "NA" }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Profile pic">
            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span *ngIf="row.profilePic">
                <img (click)="swalImage(row.profilePic)" src="{{ row.profilePic ? row.profilePic : 'NA' }}" class="image_">
              </span>
              <span *ngIf='!row.profilePic'>--</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="User type">
          <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              {{ row.userType ? row.userType : "NA" }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Total reports">
              <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  {{ row.reportCount ? row.reportCount : "NA" }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Average Rating">
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      {{ row.avgRating ? row.avgRating : "NA" }}
                    </ng-template>
                  </ngx-datatable-column>
          <ngx-datatable-column name="Status" prop="status"></ngx-datatable-column>
          <ngx-datatable-column name="Created on">
            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              {{ row.insertDate * 1000 | date: "MM/dd/yyyy HH:mm:ss" }}
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="Actions">
            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <i class="update_icon" title="Update"
               #statusBtn (click)="updateUserStatusModal(row,updateStatus,statusBtn)"><i class="fa fa-wrench"
                  aria-hidden="true" style="cursor:pointer;font-size:17px;margin-right:2px"></i></i>
            </ng-template>
          </ngx-datatable-column> -->
        </ngx-datatable>
      </div>
    </div>

      <!-- status Update -->
<ng-template #showImages let-modal>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      
    </h4>
    <button type="button" class="btn btn-link close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
<div class="container-fluid text-center fleximg">
<ul class="p-0">
  <li class="li_" *ngFor="let item of rowImages">
    <img class="rowimg" src="{{item}}">
  </li>
</ul>


</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">
      Close
    </button>
  </div>
</ng-template>
<!-- status Update end -->

<app-spinner *ngIf="isLoading"></app-spinner>