.sk-rotating-plane {
    width: 40px;
    height: 40px;
    background-color: rgb(44, 43, 44);
    margin: 40px auto;
    -webkit-animation: 1.2s ease-in-out infinite sk-rotatePlane;
    animation: 1.2s ease-in-out infinite sk-rotatePlane;
}

.spinner {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(8, 6, 6, 0.849);
    width: 100%;
    height: 100%;
    z-index: 9999;
    margin:0;
}

.sk-rotating-plane {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(208, 223, 255);
    margin: 40px auto;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    -webkit-animation: 1.2s ease-in-out infinite sk-rotatePlane;
    animation: 1.2s ease-in-out infinite sk-rotatePlane
}
@-webkit-keyframes sk-rotatePlane { 
    0% {
        -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0)
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0)
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}
@keyframes sk-rotatePlane {
     0% {
         -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0)
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0)
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}
.sk-double-bounce {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 40px auto
}
.sk-double-bounce .sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(19, 18, 18, 0.801);
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: 2s ease-in-out infinite
}