<div class="row col-md-12 mt-2 pieChartParentDiv justify-content-around out">
  <div class="col-md-5  mb-3 inn">
    <span class="pieChart_name">Users</span>
    <canvas baseChart [data]="userValueData" [labels]="userStatusNameData" [chartType]="pieChartType"
      [colors]="pieChartColors" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
    </canvas>
  </div>

  <!-- <div class="col-md-5 ml-3 mb-3 inn">
    <span class="pieChart_name">Events</span>
    <canvas baseChart [data]="eventValueData" [labels]="eventStatusNameData" [chartType]="pieChartType"
      [colors]="pieChartColors" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
    </canvas> -->

    <!-- 
    <div class="col-md-5 mr-3 mb-3 out">
      <span class="pieChart_name">Dispatcher</span>
      <canvas baseChart [data]="dispatcherValueData" [labels]="dispatcherStatusNameData" [chartType]="pieChartType"
        [colors]="pieChartColors" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
      </canvas>
    </div> -->

  <!-- </div> -->
  </div>
  <div class="row col-md-12 mt-2 mb-2 pieChartParentDiv out justify-content-center">

    <!-- <div class="col-md-5 ml-3 mb-3 inn">
      <span class="pieChart_name">Projects</span>
      <canvas baseChart [data]="projectValueData" [labels]="projectStatusNameData" [chartType]="pieChartType"
        [colors]="pieChartColors" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
      </canvas>
    </div> -->
    <!-- <div class="col-md-5 ml-3 mb-3 inn">
      <span class="pieChart_name">Funding</span>
      <canvas baseChart [data]="fundingValueData" [labels]="fundingStatusNameData" [chartType]="pieChartType"
        [colors]="pieChartColors" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
      </canvas>
    </div> -->
  </div>
  <span class="bottom-line mt-3 mb-3"></span>
