// .ngx-datatable {
//     display:grid!important;
//     width:100%!important;
// }

.download_btn {
    padding: 3px 16px 4px 15px;
}
.image_ {
    height: 41px;
    width: 40px;
    border-radius: 23px;
    cursor: pointer;
    
}
.bio_btn {
    background-color: #039bb6;
    border-style: none;
    padding: 2px 15px 2px 15px;
    font-size: 13px;
    border-style: none;
}
.bio_btn:active:focus {
  background-color: #039bb6;
  border-style: none;
  padding: 1px 15px 1px 15px;
  font-size: 13px;
    border-style: none;
}