   <!-- trips -->
   <div class="outer" >
  
    <div class="row mt-4">

       <div class="col outl">
          <div routerLink="/main/user-management/view-user" class="al_box total_officers al_p-3">
             <ul>
                <li class="al_mr_first">
                  
                  <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                  <svg version="1.1" height="50px" width="60px" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <path style="fill:#78D2FA;" d="M217.21,353.387c-7.692-7.987-17.642-13.886-29.026-16.614l-41.143-9.859l-0.017,0.027l0.017-0.027
                     v-25.117H96.799v25.198l0,0l-41.036,9.803C28.93,343.208,10,367.191,10,394.779V462h90.962L217.21,353.387z"/>
                  <polygon style="fill:#FFB487;" points="148.12,301.797 148.12,327.592 122.046,390.047 96,327.681 96,301.797 "/>
                  <path style="fill:#FFCDAC;" d="M177.955,215.261v34.79c0,30.928-25.073,56-56.002,56l0,0l0,0c-30.929,0-56.002-25.072-56.002-56
                     v-34.79L177.955,215.261L177.955,215.261z"/>
                  <path style="fill:#878791;" d="M177.955,226.266v-13.481c0-30.928-25.073-56-56.002-56l0,0c-30.929,0-56.002,25.072-56.002,56
                     v13.481h38.603c24.174,0,47.895-6.563,68.631-18.988l0,0"/>
                  <path style="fill:#A5DC69;" d="M294.79,353.387c7.692-7.987,17.642-13.886,29.026-16.614l41.143-9.859l0.017,0.027l-0.017-0.027
                     v-25.117h50.242v25.198l0,0l41.036,9.803C483.07,343.208,502,367.191,502,394.779V462h-90.962L294.79,353.387z"/>
                  <path style="fill:#FF5A5A;" d="M220.953,352.403l-57.306,13.732c-37.348,8.95-63.685,42.343-63.685,80.747V502h311.87v-55.07
                     c0-38.426-26.366-71.832-63.742-80.761l-57.157-13.654L220.953,352.403z"/>
                  <g>
                     <polygon style="fill:#FFB487;" points="416,301.797 416,327.681 389.954,390.047 363.88,327.592 363.88,301.797 	"/>
                     <path style="fill:#FFB487;" d="M256.01,432.738l37.31-84.708c-2.769-4.65-4.347-10.062-4.347-15.792v-8.142h-65.966v8.143
                        c0,5.72-1.572,11.124-4.333,15.769L256.01,432.738z"/>
                  </g>
                  <path style="fill:#FFCDAC;" d="M334.001,191.525v53.819c0,43.078-34.922,78.001-78,78.001l0,0l0,0c-43.078,0-78-34.922-78-78.001
                     v-53.819H334.001z"/>
                  <path style="fill:#F5B955;" d="M256,115.437L256,115.437c-43.079,0-78.001,34.922-78.001,78v18.777h38.137
                     c25.351,0,49.402-11.225,65.684-30.656l0,0l52.179,30.656v-18.777C334.001,150.359,299.079,115.437,256,115.437z"/>
                  <path style="fill:#FFCDAC;" d="M334.045,215.261v34.79c0,30.928,25.073,56,56.002,56l0,0l0,0c30.929,0,56.002-25.072,56.002-56
                     v-34.79L334.045,215.261L334.045,215.261z"/>
                  <path style="fill:#878791;" d="M334.045,226.266v-13.481c0-30.928,25.073-56,56.002-56l0,0c30.929,0,56.002,25.072,56.002,56v13.481
                     h-38.603c-24.174,0-47.895-6.563-68.631-18.988l0,0"/>
                  <path d="M255.74,492c-2.631,0-5.211,1.07-7.07,2.93c-1.86,1.86-2.93,4.44-2.93,7.07s1.069,5.21,2.93,7.07
                     c1.859,1.86,4.439,2.93,7.07,2.93c2.63,0,5.21-1.07,7.069-2.93c1.86-1.86,2.931-4.44,2.931-7.07s-1.07-5.21-2.931-7.07
                     C260.95,493.07,258.37,492,255.74,492z"/>
                  <path d="M458.56,327.071l-33.358-7.969V305.87c18.516-11.703,30.848-32.342,30.848-55.818v-37.267c0-36.393-29.608-66-66.002-66
                     c-19.632,0-37.279,8.626-49.38,22.275c-10.598-36.703-44.495-63.623-84.564-63.623h-0.001c-40.134,0-74.077,27.005-84.616,63.798
                     c-12.104-13.75-29.816-22.45-49.532-22.45c-36.394,0-66.002,29.608-66.002,66v37.267c0,23.477,12.332,44.116,30.848,55.818v13.232
                     l-33.358,7.969C21.976,334.587,0,362.43,0,394.779V462c0,5.523,4.478,10,10,10h79.963v30c0,5.523,4.478,10,10,10h109.704
                     c5.522,0,10-4.477,10-10s-4.478-10-10-10h-44.643v-44.012c0-5.523-4.478-10-10-10s-10,4.477-10,10V492h-35.062v-45.118
                     c0-33.914,23.034-63.119,56.015-71.022l49.183-11.786l31.646,71.996c1.596,3.631,5.187,5.976,9.153,5.976h0.001
                     c3.966,0,7.558-2.344,9.154-5.975l31.614-71.891l49.04,11.715c33.011,7.885,56.065,37.096,56.065,71.034v11.159
                     c-0.511,1.202-0.795,2.523-0.795,3.911s0.284,2.71,0.795,3.911V492h-34.857v-44.012c0-5.523-4.478-10-10-10s-10,4.477-10,10V492
                     h-48.975c-5.522,0-10,4.477-10,10s4.478,10,10,10h113.832c5.522,0,10-4.477,10-10v-30H502c5.522,0,10-4.477,10-10v-67.221
                     C512,362.43,490.024,334.587,458.56,327.071z M405.224,327.535l-15.268,36.559l-15.062-36.078c0.04-0.363,0.069-0.728,0.069-1.094
                     c0-0.093-0.001-0.187-0.004-0.28v-12.35c4.85,1.139,9.896,1.76,15.088,1.76c5.215,0,10.285-0.627,15.154-1.776v12.718
                     C405.201,327.176,405.214,327.355,405.224,327.535z M210.953,335.568c-6.278-3.894-13.166-6.777-20.438-8.519l-33.474-8.021v-13.115
                     c8.325-5.247,15.396-12.299,20.667-20.607c7.539,14.729,19.11,27.063,33.245,35.547V335.568z M188.1,245.345v-23.13h28.138
                     c25.524,0,49.715-10.088,67.587-27.941l40.221,23.629v29.789c-1.244,36.411-31.233,65.654-67.943,65.654
                     C218.605,313.345,188.1,282.84,188.1,245.345z M300.934,321.041c14.222-8.455,25.874-20.798,33.471-35.559
                     c5.26,8.231,12.289,15.22,20.554,20.431v13.115l-33.474,8.021c-7.316,1.753-14.243,4.662-20.552,8.592v-14.6H300.934z
                      M390.047,296.052c-25.365,0-46.002-20.636-46.002-46v-1.632c0.035-1.021,0.06-26.888,0.06-26.888
                     c19.659,9.668,41.332,14.735,63.342,14.735h28.603v13.786C436.049,275.417,415.412,296.052,390.047,296.052z M390.047,166.785
                     c25.365,0,46.002,20.636,46.002,46v2.476v1.005h-28.603c-21.606,0-42.837-5.673-61.548-16.426
                     C351.504,180.758,369.174,166.785,390.047,166.785z M188.1,193.438c0-37.496,30.506-68,68.003-68c37.496,0,68.002,30.505,68.002,68
                     v1.304l-37.115-21.805c-4.211-2.475-9.593-1.544-12.73,2.199c-14.42,17.208-35.568,27.078-58.021,27.078H188.1V193.438z
                      M75.951,212.785c0-25.365,20.637-46,46.002-46c20.873,0,38.543,13.973,44.148,33.056c-18.711,10.752-39.941,16.426-61.548,16.426
                     H75.951v-1.005V212.785z M75.951,236.266h28.603c22.032,0,43.727-5.076,63.401-14.763v28.549c0,25.365-20.637,46-46.002,46
                     s-46.002-20.636-46.002-46C75.951,250.052,75.951,236.266,75.951,236.266z M121.953,316.052c5.192,0,10.238-0.622,15.088-1.76v12.07
                     c-0.011,0.188-0.016,0.376-0.016,0.564c0,0.315,0.03,0.628,0.06,0.941l-15.13,36.227l-15.187-36.379
                     c0.017-0.239,0.031-0.478,0.031-0.72v-12.718C111.668,315.425,116.738,316.052,121.953,316.052z M89.963,446.882V452H60v-44.429
                     c0-5.523-4.478-10-10-10s-10,4.477-10,10V452H20v-57.221c0-23.055,15.662-42.898,38.087-48.255l31.698-7.573l20.688,49.555
                     C97.534,404.58,89.963,424.954,89.963,446.882z M161.317,356.411c-5.905,1.415-11.548,3.384-16.906,5.812l9.74-23.322l31.703,7.597
                     c2.459,0.589,4.855,1.368,7.174,2.314L161.317,356.411z M255.962,407.199l-25.009-56.897v-20.624
                     c7.972,2.382,16.413,3.667,25.149,3.667c8.62,0,16.953-1.252,24.831-3.573v20.641L255.962,407.199z M318.789,348.888
                     c2.376-0.98,4.833-1.785,7.357-2.39l31.626-7.578l9.78,23.426c-5.427-2.472-11.148-4.471-17.138-5.902L318.789,348.888z M492,452
                     h-20v-44.429c0-5.523-4.478-10-10-10s-10,4.477-10,10V452h-30.167v-5.07c0-21.899-7.546-42.245-20.448-58.305l20.753-49.692
                     l31.775,7.591c22.425,5.357,38.087,25.2,38.087,48.255V452z"/>
                  <path d="M222.46,231.25c-2.63,0-5.21,1.07-7.07,2.93c-1.86,1.86-2.93,4.44-2.93,7.07s1.069,5.21,2.93,7.07s4.44,2.93,7.07,2.93
                     c2.64,0,5.21-1.07,7.069-2.93c1.87-1.86,2.931-4.44,2.931-7.07s-1.061-5.21-2.931-7.07C227.67,232.32,225.09,231.25,222.46,231.25z"
                     />
                  <path d="M289.33,251.25c2.63,0,5.21-1.07,7.069-2.93c1.87-1.86,2.931-4.44,2.931-7.07s-1.061-5.21-2.931-7.07
                     c-1.859-1.86-4.439-2.93-7.069-2.93s-5.21,1.07-7.07,2.93c-1.86,1.86-2.93,4.44-2.93,7.07s1.069,5.21,2.93,7.07
                     S286.7,251.25,289.33,251.25z"/>
                  <path d="M275.247,267.842c-3.906-3.905-10.236-3.905-14.143,0c-2.957,2.957-7.768,2.957-10.725,0
                     c-3.906-3.905-10.236-3.905-14.143,0c-3.905,3.905-3.905,10.237,0,14.143c5.378,5.377,12.441,8.066,19.505,8.066
                     c7.064,0,14.127-2.688,19.505-8.066C279.152,278.079,279.152,271.747,275.247,267.842z"/>
                  <path d="M406.62,74h6.859c5.522,0,10-4.477,10-10s-4.478-10-10-10h-6.859c-5.522,0-10,4.477-10,10S401.098,74,406.62,74z"/>
                  <path d="M455.141,74H462c5.522,0,10-4.477,10-10s-4.478-10-10-10h-6.859c-5.522,0-10,4.477-10,10S449.618,74,455.141,74z"/>
                  <path d="M434.311,101.69c5.522,0,10-4.477,10-10v-6.859c0-5.523-4.478-10-10-10s-10,4.477-10,10v6.859
                     C424.311,97.213,428.788,101.69,434.311,101.69z"/>
                  <path d="M434.311,53.169c5.522,0,10-4.477,10-10V36.31c0-5.523-4.478-10-10-10s-10,4.477-10,10v6.859
                     C424.311,48.692,428.788,53.169,434.311,53.169z"/>
                  <path d="M49.444,74h6.858c5.522,0,10-4.477,10-10s-4.478-10-10-10h-6.858c-5.522,0-10,4.477-10,10S43.922,74,49.444,74z"/>
                  <path d="M97.965,74h6.858c5.522,0,10-4.477,10-10s-4.478-10-10-10h-6.858c-5.522,0-10,4.477-10,10S92.442,74,97.965,74z"/>
                  <path d="M77.134,101.69c5.522,0,10-4.477,10-10v-6.859c0-5.523-4.478-10-10-10s-10,4.477-10,10v6.859
                     C67.134,97.213,71.611,101.69,77.134,101.69z"/>
                  <path d="M77.134,53.169c5.522,0,10-4.477,10-10V36.31c0-5.523-4.478-10-10-10s-10,4.477-10,10v6.859
                     C67.134,48.692,71.611,53.169,77.134,53.169z"/>
                  <path d="M256,84.397c5.522,0,10-4.477,10-10v-26.31c0-5.523-4.478-10-10-10s-10,4.477-10,10v26.31
                     C246,79.92,250.478,84.397,256,84.397z"/>
                  <path d="M256,20c2.63,0,5.21-1.07,7.069-2.93C264.93,15.21,266,12.63,266,10s-1.07-5.21-2.931-7.07C261.21,1.07,258.63,0,256,0
                     s-5.21,1.07-7.07,2.93C247.069,4.79,246,7.37,246,10s1.069,5.21,2.93,7.07S253.37,20,256,20z"/>
                  <path d="M206.813,54.262c1.953,1.953,4.512,2.929,7.071,2.929s5.118-0.976,7.071-2.929c3.905-3.905,3.905-10.237,0-14.143
                     l-14.634-14.634c-3.906-3.905-10.236-3.905-14.143,0c-3.905,3.905-3.905,10.237,0,14.143L206.813,54.262z"/>
                  <path d="M297.626,57.13c2.56,0,5.118-0.976,7.071-2.929l15.123-15.123c3.905-3.905,3.905-10.237,0-14.143
                     c-3.906-3.905-10.236-3.905-14.143,0l-15.123,15.123c-3.905,3.905-3.905,10.237,0,14.143
                     C292.508,56.154,295.066,57.13,297.626,57.13z"/>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  </svg>
                </li>
                <li class="al_color "><b>{{totalUsers}}</b>Total users</li>
             </ul>
          </div>
       </div>

       <!-- <div class="col outl" >
          <div routerLink="/main/celebrity-management/view-celebrity" class="al_box total_officers al_p-3">
             <ul>
                <li class="al_mr_first">
                  <svg id="Capa_1" enable-background="new 0 0 512 512" height="50px" viewBox="0 0 512 512" width="60px" xmlns="http://www.w3.org/2000/svg"><g><g><path clip-rule="evenodd" d="m50.502 149.327s453.998 42.325 453.998 44.668v-81.391c0-2.343-.652-3.372-3.033-3.172-20.268 1.829-36.454-11.974-37.673-32.265-.142-1.915-.34-2.515-2.324-2.172z" fill="#7e707d" fill-rule="evenodd"/></g><g><path clip-rule="evenodd" d="m50.502 437.084h410.968c1.984 0 2.183-.629 2.324-2.543 1.219-20.519 17.405-36.981 37.673-38.467 2.381-.171 3.033-1.315 3.033-3.658v-198.42c0-2.343-.652-3.487-3.033-3.658-20.268-1.486-36.454-17.947-37.673-38.467-.142-1.915-.34-2.543-2.324-2.543h-410.968c-1.984 0-2.183.629-2.296 2.543-1.247 20.519-17.405 36.981-37.701 38.467-2.381.171-3.005 1.315-3.005 3.658v198.42c0 2.343.624 3.487 3.005 3.658 20.296 1.486 36.454 17.947 37.701 38.467.113 1.914.311 2.543 2.296 2.543z" fill="#fe8d94" fill-rule="evenodd"/></g><g><path clip-rule="evenodd" d="m461.47 437.084c1.984 0 2.183-.629 2.324-2.543 1.219-20.519 17.405-36.981 37.673-38.467 2.381-.171 3.033-1.315 3.033-3.658v-81.391-117.03c0-2.343-.652-3.487-3.033-3.658-20.268-1.486-36.454-17.947-37.673-38.467-.142-1.915-.34-2.543-2.324-2.543h-72.397c14.598 23.491 24.293 50.098 27.666 78.562.879 7.459 1.332-1.057 1.332 22.663 0 23.749-12.274 76.905-33.364 107.969-24.52 36.009-60.917 63.93-103.89 78.562h180.653z" fill="#ff6d75" fill-rule="evenodd"/></g><g><path clip-rule="evenodd" d="m83.837 322.97 17.405-6.087 17.405 6.087c1.729.6 2.438.057 2.409-1.772l-.34-18.576 11.083-14.804c1.106-1.458.85-2.315-.907-2.858l-17.632-5.401-10.517-15.204c-1.049-1.515-1.956-1.515-3.005 0l-10.517 15.204-17.632 5.401c-1.729.543-2.013 1.4-.907 2.858l11.112 14.804-.369 18.576c-.026 1.829.683 2.372 2.412 1.772z" fill="#fde588" fill-rule="evenodd"/></g><g><path clip-rule="evenodd" d="m393.353 322.97 17.376-6.087 17.405 6.087c1.729.6 2.438.057 2.409-1.772l-.34-18.576 11.112-14.804c1.105-1.458.822-2.315-.935-2.858l-17.603-5.401-10.545-15.204c-1.049-1.515-1.928-1.515-2.976 0l-10.545 15.204-17.603 5.401c-1.757.543-2.041 1.4-.935 2.858l11.112 14.804-.368 18.576c-.03 1.829.679 2.372 2.436 1.772z" fill="#fde588" fill-rule="evenodd"/></g><g><path d="m72.499 187.907c4.142 0 7.5-3.373 7.5-7.515s-3.358-7.5-7.5-7.5-7.5 3.358-7.5 7.5v.029c0 4.142 3.357 7.486 7.5 7.486z"/><path d="m508.829 104.416c-1.422-1.308-3.959-2.799-8.037-2.455-7.803.709-15.081-1.466-20.483-6.112-5.358-4.609-8.564-11.404-9.029-19.132-.002-.035-.004-.069-.007-.104-.11-1.493-.369-4.991-3.444-7.393-2.043-1.596-4.614-2.139-7.694-1.607l-157.408 28.465c-4.076.737-6.783 4.639-6.046 8.715.737 4.077 4.647 6.784 8.715 6.046l151.627-27.419c1.777 9.432 6.458 17.739 13.504 23.801 7.273 6.256 16.537 9.676 26.473 9.867v65c-14.116-3.282-24.829-15.685-25.719-30.662-.002-.036-.004-.072-.007-.108-.633-8.565-7.067-9.49-9.804-9.49h-327.383l137.322-24.844c4.076-.738 6.782-4.64 6.045-8.716s-4.642-6.783-8.715-6.045l-219.097 39.638c-3.064.208-8.458 1.698-8.923 9.555-1.016 16.715-14.241 30.232-30.753 31.441-4.818.346-9.966 3.455-9.966 11.138v198.42c0 7.684 5.148 10.792 9.957 11.138 16.521 1.21 29.747 14.727 30.762 31.43.513 8.665 7.012 9.601 9.783 9.601h170.873c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-166.167c-3.214-20.755-19.568-37.276-40.208-40.535v-191.686c20.633-3.255 36.988-19.772 40.207-40.535h401.58c3.192 20.763 19.549 37.288 40.213 40.539v113.658 78.02c-20.661 3.246-37.02 19.772-40.213 40.54h-200.801c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h205.484c2.737 0 9.171-.925 9.804-9.49.003-.036.005-.072.007-.108.992-16.707 14.205-30.22 30.724-31.431 4.832-.348 9.995-3.456 9.995-11.138v-279.814c0-1.304 0-5.272-3.171-8.188z"/><path d="m64.999 406.019c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-.028c0-4.142-3.358-7.486-7.5-7.486s-7.5 3.372-7.5 7.514z"/><path d="m439.473 398.505c-4.142 0-7.5 3.372-7.5 7.514s3.358 7.5 7.5 7.5 7.5-3.358 7.5-7.5v-.028c0-4.143-3.358-7.486-7.5-7.486z"/><path d="m446.973 180.392c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v.029c0 4.142 3.358 7.486 7.5 7.486s7.5-3.373 7.5-7.515z"/><path d="m248.486 259.411v67.588c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-67.588c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5z"/><path d="m215.471 257.206-16.319 49.506-17.117-49.742c-1.348-3.917-5.617-6-9.532-4.651-3.917 1.348-5.999 5.616-4.651 9.532l22.92 66.604c1.27 3.615 4.679 6.029 8.5 6.029h.083c3.858-.036 7.264-2.522 8.479-6.195l21.884-66.388c1.297-3.934-.841-8.174-4.775-9.471-3.933-1.294-8.175.842-9.472 4.776z"/><path d="m293.573 251.911c-4.081 0-7.5 3.419-7.5 7.5v67.588c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-21.893c3.969-.021 8.573-.042 11.152-.042 14.764 0 26.775-11.916 26.775-26.562 0-14.662-12.011-26.59-26.775-26.59h-18.652zm30.428 26.591c0 6.267-5.393 11.562-11.775 11.562-2.565 0-7.122.021-11.081.042-.021-4.133-.043-8.951-.043-11.604 0-2.256-.007-7.267-.015-11.59h11.139c6.382-.001 11.775 5.307 11.775 11.59z"/><path d="m71.988 235.389h368.392c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-368.392c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5z"/><path d="m447.88 358.522c0-4.142-3.358-7.5-7.5-7.5h-368.392c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h368.392c4.142 0 7.5-3.358 7.5-7.5z"/><path d="m449.063 283.756c-.528-1.643-2.072-4.603-6.483-5.965l-15.121-4.64-9.062-13.065c-2.631-3.799-5.925-4.366-7.654-4.366s-5.023.567-7.651 4.361l-9.065 13.07-15.134 4.644c-4.398 1.358-5.941 4.318-6.469 5.961-.528 1.642-1 4.941 1.75 8.565l9.56 12.736-.317 16.024c-.071 4.59 2.251 6.972 3.643 7.983 1.39 1.011 4.374 2.486 8.773.983l14.899-5.219 14.944 5.227c1.329.461 2.532.642 3.601.642 2.41 0 4.141-.919 5.107-1.619 1.397-1.01 3.73-3.393 3.659-8.018l-.293-15.999 9.542-12.711c2.77-3.653 2.299-6.953 1.771-8.594zm-24.857 14.363c-1.003 1.336-1.531 2.969-1.5 4.64l.191 10.433-9.69-3.389c-1.604-.562-3.352-.561-4.956.001l-9.674 3.389.207-10.423c.033-1.674-.495-3.312-1.5-4.651l-6.27-8.353 9.899-3.038c1.608-.493 3.004-1.513 3.962-2.896l5.871-8.464 5.871 8.464c.958 1.382 2.354 2.402 3.962 2.896l9.898 3.038z"/><path d="m64.687 292.321 9.56 12.736-.318 16.024c-.071 4.604 2.262 6.987 3.659 7.997 1.395 1.008 4.379 2.479 8.726.971l14.929-5.222 14.946 5.228c1.329.461 2.532.642 3.601.642 2.41 0 4.14-.919 5.107-1.618 1.397-1.01 3.73-3.393 3.659-8.019l-.292-16.003 9.513-12.707c2.78-3.665 2.31-6.966 1.782-8.607s-2.067-4.594-6.468-5.954l-15.142-4.639-9.035-13.062c-.001-.001-.001-.002-.002-.003-2.631-3.799-5.934-4.366-7.668-4.366s-5.038.567-7.671 4.369l-9.035 13.062-15.192 4.654c-4.363 1.37-5.892 4.324-6.415 5.963-.525 1.641-.989 4.936 1.756 8.554zm26.733-5.591c1.613-.494 3.012-1.517 3.971-2.904l5.851-8.458 5.85 8.458c.959 1.387 2.359 2.41 3.972 2.904l9.909 3.036-6.26 8.361c-.999 1.335-1.525 2.965-1.495 4.632l.191 10.433-9.69-3.389c-.802-.28-1.639-.42-2.476-.42s-1.674.14-2.476.42l-9.678 3.385.207-10.417c.033-1.675-.495-3.312-1.5-4.651l-6.273-8.357z"/></g></g></svg>
                </li>
                <li class="al_color "><b>{{totalProjects}}</b>Total Projects</li>
             </ul>
          </div>
       </div> -->

       <div class="col outl" >
          <div routerLink="/main/booking-management/view-booking" class="al_box total_officers al_p-3">
             <ul>
                <li class="al_mr_first">
                   <svg id="Capa_1" enable-background="new 0 0 513.359 513.359" height="50px"
                      viewBox="0 0 513.359 513.359" width="60px" xmlns="http://www.w3.org/2000/svg">
                      <g>
                         <g>
                            <g>
                               <g id="XMLID_383_">
                                  <g>
                                     <path
                                        d="m453.726 184.76h-401.389l-17.478 18.131v282.52c0 11.29 9.15 20.45 20.45 20.45h402.74c11.3 0 20.45-9.16 20.45-20.45v-282.52z"
                                        fill="#f9f7f8" />
                                     <path
                                        d="m142.898 485.411v-282.52-18.131h-90.56l-17.478 18.131v282.52c0 11.29 9.15 20.45 20.45 20.45h108.038c-11.3 0-20.45-9.16-20.45-20.45z"
                                        fill="#efedef" />
                                     <path
                                        d="m478.499 176.691v26.2h-443.64v-26.2c0-11.3 9.15-20.45 20.45-20.45h402.74c11.3 0 20.45 9.15 20.45 20.45z"
                                        fill="#f47c7c" />
                                  </g>
                               </g>
                               <path
                                  d="m142.898 176.691c0-11.3 9.15-20.45 20.45-20.45h-108.039c-11.3 0-20.45 9.15-20.45 20.45v26.2h108.038v-26.2z"
                                  fill="#ee6161" />
                               <circle cx="257.179" cy="39.855" fill="#c9bfc8" r="32.355" />
                               <path
                                  d="m143.09 297.602h-37.815c-4.489 0-8.129-3.639-8.129-8.129v-37.815c0-4.489 3.639-8.129 8.129-8.129h37.815c4.489 0 8.129 3.639 8.129 8.129v37.815c0 4.49-3.64 8.129-8.129 8.129z"
                                  fill="#e5e1e5" />
                               <path
                                  d="m232.691 297.602h-37.815c-4.489 0-8.129-3.639-8.129-8.129v-37.815c0-4.489 3.639-8.129 8.129-8.129h37.815c4.489 0 8.129 3.639 8.129 8.129v37.815c-.001 4.49-3.64 8.129-8.129 8.129z"
                                  fill="#efedef" />
                               <g>
                                  <g fill="#efedef">
                                     <path
                                        d="m282.668 297.602h37.815c4.489 0 8.129-3.639 8.129-8.129v-37.815c0-4.489-3.639-8.129-8.129-8.129h-37.815c-4.489 0-8.129 3.639-8.129 8.129v37.815c0 4.49 3.64 8.129 8.129 8.129z" />
                                     <path
                                        d="m372.269 297.602h37.815c4.489 0 8.129-3.639 8.129-8.129v-37.815c0-4.489-3.639-8.129-8.129-8.129h-37.815c-4.489 0-8.129 3.639-8.129 8.129v37.815c0 4.49 3.639 8.129 8.129 8.129z" />
                                     <path
                                        d="m232.691 381.071h-37.815c-4.489 0-8.129-3.639-8.129-8.129v-37.815c0-4.489 3.639-8.129 8.129-8.129h37.815c4.489 0 8.129 3.639 8.129 8.129v37.815c-.001 4.489-3.64 8.129-8.129 8.129z" />
                                  </g>
                                  <path
                                     d="m143.09 381.071h-37.815c-4.489 0-8.129-3.639-8.129-8.129v-37.815c0-4.489 3.639-8.129 8.129-8.129h37.815c4.489 0 8.129 3.639 8.129 8.129v37.815c0 4.489-3.64 8.129-8.129 8.129z"
                                     fill="#e5e1e5" />
                                  <path
                                     d="m282.668 381.071h37.815c4.489 0 8.129-3.639 8.129-8.129v-37.815c0-4.489-3.639-8.129-8.129-8.129h-37.815c-4.489 0-8.129 3.639-8.129 8.129v37.815c0 4.489 3.64 8.129 8.129 8.129z"
                                     fill="#efedef" />
                                  <path
                                     d="m372.269 381.071h37.815c4.489 0 8.129-3.639 8.129-8.129v-37.815c0-4.489-3.639-8.129-8.129-8.129h-37.815c-4.489 0-8.129 3.639-8.129 8.129v37.815c0 4.489 3.639 8.129 8.129 8.129z"
                                     fill="#efedef" />
                                  <path
                                     d="m232.691 464.539h-37.815c-4.489 0-8.129-3.639-8.129-8.129v-37.815c0-4.489 3.639-8.129 8.129-8.129h37.815c4.489 0 8.129 3.639 8.129 8.129v37.815c-.001 4.49-3.64 8.129-8.129 8.129z"
                                     fill="#efedef" />
                                  <path
                                     d="m143.09 464.539h-37.815c-4.489 0-8.129-3.639-8.129-8.129v-37.815c0-4.489 3.639-8.129 8.129-8.129h37.815c4.489 0 8.129 3.639 8.129 8.129v37.815c0 4.49-3.64 8.129-8.129 8.129z"
                                     fill="#e5e1e5" />
                                  <path
                                     d="m282.668 464.539h37.815c4.489 0 8.129-3.639 8.129-8.129v-37.815c0-4.489-3.639-8.129-8.129-8.129h-37.815c-4.489 0-8.129 3.639-8.129 8.129v37.815c0 4.49 3.64 8.129 8.129 8.129z"
                                     fill="#efedef" />
                                  <path
                                     d="m372.269 464.539h37.815c4.489 0 8.129-3.639 8.129-8.129v-37.815c0-4.489-3.639-8.129-8.129-8.129h-37.815c-4.489 0-8.129 3.639-8.129 8.129v37.815c0 4.49 3.639 8.129 8.129 8.129z"
                                     fill="#efedef" />
                               </g>
                            </g>
                         </g>
                         <g>
                            <path
                               d="m458.05 148.737h-50.213l-110.945-112.11c-1.65-20.471-18.824-36.627-39.713-36.627s-38.063 16.156-39.713 36.627l-110.945 112.11h-51.212c-15.413 0-27.952 12.54-27.952 27.952v308.717c0 15.413 12.539 27.952 27.952 27.952h402.74c15.413 0 27.952-12.539 27.952-27.952v-58.426c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v58.426c0 7.142-5.811 12.952-12.952 12.952h-402.74c-7.142 0-12.952-5.811-12.952-12.952v-275.011h51.313c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-51.313v-18.706c0-7.142 5.811-12.952 12.952-12.952h259.849c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-187.533l92.716-93.69c5.986 14.46 20.24 24.661 36.838 24.661s30.852-10.202 36.838-24.661l92.716 93.69h-39.613c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h110.93c7.142 0 12.952 5.811 12.952 12.952v18.706h-345.369c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h345.369v184.623c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-218.329c0-15.413-12.539-27.952-27.952-27.952zm-200.871-84.028c-13.705 0-24.854-11.15-24.854-24.854s11.15-24.855 24.854-24.855 24.854 11.15 24.854 24.854-11.149 24.855-24.854 24.855z" />
                            <path
                               d="m248.32 251.658c0-8.618-7.011-15.629-15.629-15.629h-37.815c-8.618 0-15.629 7.011-15.629 15.629v37.815c0 8.618 7.011 15.629 15.629 15.629h37.815c8.618 0 15.629-7.011 15.629-15.629zm-53.445-.629h28.035l-28.664 28.175v-27.546c0-.346.283-.629.629-.629zm37.816 39.074h-28.135l28.763-28.272v27.643c.001.346-.282.629-.628.629z" />
                            <path
                               d="m158.719 251.658c0-8.618-7.011-15.629-15.629-15.629h-37.815c-8.618 0-15.628 7.011-15.628 15.629v37.815c0 8.618 7.011 15.629 15.628 15.629h37.815c8.618 0 15.629-7.011 15.629-15.629zm-53.444-.629h27.653l-28.282 27.798v-27.169c0-.346.282-.629.629-.629zm37.815 39.074h-28.517l29.146-28.648v28.019c0 .346-.282.629-.629.629z" />
                            <path
                               d="m282.668 305.103h37.815c8.618 0 15.629-7.011 15.629-15.629v-37.815c0-8.618-7.011-15.629-15.629-15.629h-37.815c-8.618 0-15.629 7.011-15.629 15.629v37.815c0 8.617 7.012 15.629 15.629 15.629zm37.816-15h-25.945l26.574-26.12v25.491c0 .346-.283.629-.629.629zm-37.816-39.074h30.225l-30.854 30.327v-29.698c0-.346.283-.629.629-.629z" />
                            <path
                               d="m425.713 251.658c0-8.618-7.011-15.629-15.628-15.629h-37.815c-8.618 0-15.629 7.011-15.629 15.629v37.815c0 8.618 7.011 15.629 15.629 15.629h37.815c8.618 0 15.628-7.011 15.628-15.629zm-53.444-.629h30.607l-31.236 30.703v-30.074c0-.346.282-.629.629-.629zm37.815 39.074h-25.563l26.191-25.744v25.115c.001.346-.281.629-.628.629z" />
                            <path
                               d="m248.32 335.127c0-8.618-7.011-15.629-15.629-15.629h-37.815c-8.618 0-15.629 7.011-15.629 15.629v37.815c0 8.618 7.011 15.629 15.629 15.629h37.815c8.618 0 15.629-7.011 15.629-15.629zm-53.445-.629h28.085l-28.714 28.223v-27.594c0-.347.283-.629.629-.629zm37.816 39.073h-28.085l28.714-28.223v27.594c0 .347-.283.629-.629.629z" />
                            <path
                               d="m158.719 335.127c0-8.618-7.011-15.629-15.629-15.629h-37.815c-8.618 0-15.628 7.011-15.628 15.629v37.815c0 8.618 7.011 15.629 15.628 15.629h37.815c8.618 0 15.629-7.011 15.629-15.629zm-53.444-.629h27.703l-28.331 27.847v-27.218c-.001-.347.281-.629.628-.629zm37.815 39.073h-28.467l29.096-28.598v27.969c0 .347-.282.629-.629.629z" />
                            <path
                               d="m267.039 372.942c0 8.618 7.011 15.629 15.629 15.629h37.815c8.618 0 15.629-7.011 15.629-15.629v-37.815c0-8.618-7.011-15.629-15.629-15.629h-37.815c-8.618 0-15.629 7.011-15.629 15.629zm53.445.629h-25.895l26.524-26.071v25.442c0 .347-.283.629-.629.629zm-37.816-39.073h30.275l-30.904 30.375v-29.746c0-.347.283-.629.629-.629z" />
                            <path
                               d="m425.713 335.127c0-8.618-7.011-15.629-15.628-15.629h-37.815c-8.618 0-15.629 7.011-15.629 15.629v37.815c0 8.618 7.011 15.629 15.629 15.629h37.815c8.618 0 15.628-7.011 15.628-15.629zm-53.444-.629h30.657l-31.286 30.751v-30.122c0-.347.282-.629.629-.629zm37.815 39.073h-25.513l26.141-25.694v25.065c.001.347-.281.629-.628.629z" />
                            <path
                               d="m232.691 402.966h-37.815c-8.618 0-15.629 7.011-15.629 15.629v37.815c0 8.618 7.011 15.629 15.629 15.629h37.815c8.618 0 15.629-7.011 15.629-15.629v-37.815c0-8.617-7.012-15.629-15.629-15.629zm-37.816 15h27.067l-27.696 27.223v-26.594c0-.346.283-.629.629-.629zm37.816 39.073h-29.102l29.731-29.223v28.594c0 .347-.283.629-.629.629z" />
                            <path
                               d="m143.09 402.966h-37.815c-8.618 0-15.628 7.011-15.628 15.629v37.815c0 8.618 7.011 15.629 15.628 15.629h37.815c8.618 0 15.629-7.011 15.629-15.629v-37.815c0-8.617-7.011-15.629-15.629-15.629zm-37.815 15h26.685l-27.314 26.847v-26.218c0-.346.282-.629.629-.629zm37.815 39.073h-29.484l30.113-29.598v28.969c0 .347-.282.629-.629.629z" />
                            <path
                               d="m267.039 456.41c0 8.618 7.011 15.629 15.629 15.629h37.815c8.618 0 15.629-7.011 15.629-15.629v-37.551l9.438-8.991c2.999-2.857 3.114-7.604.257-10.604-2.858-2.999-7.605-3.114-10.604-.257l-6.582 6.271c-2.374-1.456-5.155-2.312-8.138-2.312h-37.815c-8.618 0-15.629 7.011-15.629 15.629zm15-37.815c0-.347.282-.629.629-.629h32.635l-15.07 14.357-.252-.241c-2.993-2.863-7.741-2.757-10.604.237s-2.757 7.741.237 10.604l5.426 5.189c1.45 1.386 3.316 2.08 5.184 2.08 1.862 0 3.725-.69 5.173-2.07l15.715-14.972v23.261c0 .347-.282.629-.629.629h-37.815c-.347 0-.629-.282-.629-.629z" />
                            <path
                               d="m410.084 402.966h-37.815c-8.618 0-15.629 7.011-15.629 15.629v37.815c0 8.618 7.011 15.629 15.629 15.629h37.815c8.618 0 15.628-7.011 15.628-15.629v-37.815c.001-8.617-7.01-15.629-15.628-15.629zm.629 53.444c0 .347-.282.629-.628.629h-37.815c-.347 0-.629-.282-.629-.629v-37.815c0-.347.282-.629.629-.629h37.815c.347 0 .628.282.628.629z" />
                         </g>
                      </g>
                   </svg>
                </li>
                <li class="al_color "><b>{{totalBooking}}</b>Total Booking</li>
             </ul>
          </div>
       </div>

       <!-- <div class="col outl" >
          <div routerLink="/main/booking-management/view-booking" class="al_box total_officers al_p-3">
             <ul>
                <li class="al_mr_first">
               <svg id="Layer_3" enable-background="new 0 0 64 64" height="50px" viewBox="0 0 64 64" width="60px" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m51 23h2v6.999h-2z" fill="#c18e59"/></g><g><path d="m11 23h2v6.999h-2z" fill="#c18e59"/></g><path d="m2 40h52v22h-52z" fill="#78b75b" transform="matrix(-1 0 0 -1 56 102)"/><path d="m6 40v-4h52v22h-4v-18z" fill="#96cc7f"/><path d="m10 36v-6h52v22h-4v-16z" fill="#78b75b"/><circle cx="28" cy="51" fill="#96cc7f" r="8"/><path d="m29.003 50h-.002v-2h.002c.551 0 .998.448.998 1h2c0-1.654-1.345-3-2.998-3h-.002v-1h-1.999v1c-1.654 0-3 1.346-3 3s1.346 2.999 3 2.999v2c-.552 0-1-.448-1-.999h-2c0 1.654 1.346 2.999 3 2.999v1h1.999v-1h.002c1.653 0 2.998-1.346 2.998-3s-1.345-2.999-2.998-2.999zm-3.001-1c0-.552.448-1 1-1v2c-.552 0-1-.449-1-1zm3.001 4.999h-.002v-2h.002c.551 0 .998.449.998 1.001 0 .551-.447.999-.998.999z" fill="#669e4f"/><g><path d="m6.002 58.999h11.999v-2h-10.999v-11.999h10.999v-2h-11.999c-.553 0-1 .447-1 1v14c0 .552.447.999 1 .999z" fill="#669e4f"/></g><g><path d="m38.001 59h11.999c.553 0 1-.448 1-1v-14c0-.553-.447-1-1-1h-11.999v2h10.999v12h-10.999z" fill="#669e4f"/></g><path d="m40 49h6v4h-6z" fill="#96cc7f" transform="matrix(-1 0 0 -1 86 102)"/><path d="m10 49h6v4h-6z" fill="#96cc7f" transform="matrix(-1 0 0 -1 26 102)"/><g><path d="m31 11h2v18.999h-2z" fill="#c18e59"/></g><path d="m52 24v-4c0-3.314 2.686-6 6-6v4c0 3.314-2.686 6-6 6z" fill="#669e4f"/><path d="m52 24v-4c0-3.314-2.686-6-6-6v4c0 3.314 2.686 6 6 6z" fill="#78b75b"/><path d="m12 24v-4c0-3.314 2.686-6 6-6v4c0 3.314-2.686 6-6 6z" fill="#78b75b"/><path d="m12 24v-4c0-3.314-2.686-6-6-6v4c0 3.314 2.686 6 6 6z" fill="#96cc7f"/><path d="m36 23h-4c0-3.314 2.686-6 6-6h4c0 3.314-2.686 6-6 6z" fill="#78b75b"/><path d="m28 23h4c0-3.314-2.686-6-6-6h-4c0 3.314 2.686 6 6 6z" fill="#96cc7f"/><path d="m32 12v-2c0-4.418 3.582-8 8-8v2c0 4.418-3.582 8-8 8z" fill="#669e4f"/><path d="m32 12v-2c0-4.418-3.582-8-8-8v2c0 4.418 3.582 8 8 8z" fill="#78b75b"/><g><path d="m28 60c4.962 0 9-4.037 9-9s-4.037-9-9-9-9 4.037-9 9c0 4.962 4.037 9 9 9zm0-16c3.859 0 7 3.14 7 7 0 3.859-3.14 7-7 7s-7-3.14-7-7 3.14-7 7-7z"/><path d="m26 53h-2c0 1.654 1.346 3 3 3v1h2v-1c1.654 0 2.999-1.346 2.999-3 0-1.655-1.345-3-2.999-3h-.001v-2h.001c.551 0 .999.448.999 1l2-.001c0-1.654-1.345-2.999-2.999-2.999h-.001v-1h-2v1c-1.654 0-3 1.346-3 3s1.346 3 3 3v2c-.551 0-.999-.449-.999-1zm0-4.001c0-.551.448-.999 1-.999v2c-.552 0-1-.449-1-1.001zm2.999 3.001c.552 0 1 .449 1 1 0 .552-.448 1-.999 1h-.001z"/><path d="m62.999 29.999c0-.552-.447-1-1-1h-9v-4.08c3.387-.487 6-3.4 6-6.92v-4c0-.553-.447-1-1-1-2.548 0-4.775 1.373-6 3.413-1.224-2.039-3.452-3.412-5.999-3.412-.265 0-.52.105-.707.292s-.293.442-.293.708v4c0 3.519 2.614 6.432 6 6.92v4.08h-18v-5h3c3.859 0 6.999-3.14 6.999-7 0-.553-.447-1-1-1h-4c-1.958 0-3.728.81-5 2.111v-5.17c4.493-.499 8-4.316 8-8.941v-2c0-.553-.447-1-1-1-3.484 0-6.505 1.993-8 4.896-1.495-2.903-4.516-4.896-7.999-4.896-.265 0-.52.105-.707.292s-.293.442-.293.708v2c0 4.624 3.507 8.442 8 8.941v5.164c-.018-.018-.033-.038-.05-.055-1.323-1.322-3.08-2.05-4.95-2.05h-4c-.266 0-.52.105-.708.292-.188.188-.293.443-.292.708 0 3.86 3.141 7 7 7h3v5h-18v-4.08c3.387-.487 6-3.4 6-6.92v-4c0-.553-.447-1-1-1-2.548 0-4.775 1.373-6 3.413-1.225-2.04-3.453-3.413-6-3.413-.265 0-.52.105-.707.292s-.293.442-.293.708v4c0 3.519 2.614 6.432 6 6.92v4.08h-1c-.553 0-1 .447-1 1v5h-3c-.553 0-1 .447-1 1v3h-3c-.552 0-1 .447-1 1v22c0 .552.447 1 1 1h52c.553 0 1-.448 1-1v-3h3c.553 0 1-.448 1-1v-5h3c.265 0 .52-.105.707-.293s.293-.442.293-.707zm-9.999-10c0-2.414 1.72-4.434 4-4.899v2.9c0 2.415-1.72 4.435-4 4.899zm-2.001 2.9c-2.279-.465-4-2.485-4-4.899v-2.9c2.279.465 4 2.485 4 4.899zm-13-4.899h2.9c-.465 2.279-2.485 4-4.899 4h-2.9c.464-2.28 2.484-4 4.899-4zm-10 4c-2.414 0-4.434-1.72-4.899-4h2.9c1.335 0 2.591.52 3.535 1.464.704.704 1.172 1.581 1.365 2.535h-2.901zm5.001-12.001c0-3.52 2.612-6.441 6-6.928v.929c0 3.521-2.612 6.442-6 6.929zm-2.001.93c-3.388-.487-5.999-3.409-5.999-6.929v-.929c3.388.487 6 3.409 6 6.928v.93zm-17.999 9.07c0-2.414 1.72-4.434 4-4.899v2.9c0 2.415-1.72 4.435-4 4.899zm-2.001 2.9c-2.279-.464-3.999-2.484-3.999-4.899v-2.9c2.279.465 4 2.485 4 4.899v2.9zm42 38.101h-49.999v-20h50v20zm4-4h-2v-17c0-.266-.105-.52-.292-.708s-.442-.292-.708-.292h-46.999v-2h50v20zm4.001-6h-2v-15c0-.553-.447-1-1-1h-47v-4h50z"/><path d="m6 59h12v-2h-11v-12h11v-2h-12c-.553 0-1 .447-1 1v14c0 .552.447 1 1 1z"/><path d="m50.999 58v-14c0-.553-.447-1-1-1h-11.999v2h11v12h-11v2h12c.552 0 .999-.448.999-1z"/><path d="m45.999 54c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1h-6c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1zm-4.999-4h4v2h-4z"/><path d="m10 48c-.553 0-1 .447-1 1v4c0 .553.447 1 1 1h6c.553 0 1-.447 1-1v-4c0-.553-.447-1-1-1zm4.999 4h-4v-2h4z"/></g></g></svg>
                </li>
                <li class="al_color "><b>$ {{totalFundings}}</b>Total Fundings</li>
             </ul>
          </div>
       </div> -->

       
    </div>
    <!-- <hr> -->
 </div>

 <span class="bottom-line mt-3 mb-3"></span>