.image_ {
    height: 41px;
    width: 40px;
    border-radius: 23px;
    cursor: pointer;
    
}
.buttoon {
    padding: 4px 4px 3px 4px;
    font-size: 13px;
}
.li_ {
    list-style-type: none;
}
ul {
    display: inline-block;
}
.rowimg {
    height: 200px;
    width: 200px;
    margin:5px;
    border-radius:6px;
    border:5px solid #ccd4d5;
}
.count {
    position: absolute;
    top: -11px;
    background: #a20f0f;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    left: 46px;
}
