<mat-form-field class="mat-form w-100">
  <mat-label>Choose</mat-label>
  <mat-select [(value)]="searchBy">
    <mat-option value="all">All Users</mat-option>
    <mat-option value="5f9932b38c400b00175c9a62">Jerry1</mat-option>
    <mat-option value="5fb26b9a391201001768381f">jerry2</mat-option>
    <!-- <mat-option value="suspended">Suspended</mat-option> -->
  </mat-select>
</mat-form-field>

<input type="text" w-100 [(ngModel)]="messageText" />
<button (click)="sendMessage()">SEnd</button>

<div class="content">
  <ul>
    <li *ngFor="let data of messageDetailList">{{data.message}}</li>
  </ul>
</div>
