<!-- The sidebar -->
<div class="row col-md-12 p-0 m-0">
  <div class="col-md-3 m-0 p-0 d-flex sidebarout">
    <a [routerLink]="['/main/setting-management/upload']" routerLinkActive="active">Download/Upload pdf</a>
    <!-- <a [routerLink]="['/main/setting-management/account']" routerLinkActive="active">Delete Account</a>
    <a [routerLink]="['/main/setting-management/notifications']" routerLinkActive="active">Notifications</a>
    <a [routerLink]="['/main/setting-management/blocklist']" routerLinkActive="active">Block List</a> -->
  </div>
  <!-- Page content -->
  <div class="col-md-9 sections">
    <router-outlet></router-outlet>
  </div>
</div>
