<!-- <mat-tab-group>
    <mat-tab label="user-reports">
        <app-user-report></app-user-report>
    </mat-tab>
    <mat-tab label="event-reports"> 
<app-event-report></app-event-report>
    </mat-tab>

    <mat-tab label="project-report"> 
        <app-project-report></app-project-report>
            </mat-tab>
    
  </mat-tab-group> -->
<router-outlet></router-outlet>
  <!-- <section class="right-panel-wrapper">
   
    <ul class="nav nav-tabs">
     
      <li class="nav-item">
        <a class="nav-link" routerLink="user-report" routerLinkActive="active"
          >Reported users </a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="event-report" routerLinkActive="active"
          >Reported events</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="project-report" routerLinkActive="active"
          >Reported projects</a
        >
      </li>
    </ul>

    <router-outlet></router-outlet>
  </section> -->