
img {
    height: 150px;
    width: 150px;
    margin-top: 25px;
}

.img2 {
    height: 250px;
    width: 200px;
    margin-top: 25px;
}
.inputfile {
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
height: 75%;
opacity: 0;
z-index: 1;
}
p {
    font-size: 20px;
    font-weight: bold;
    color: #5f5d5d;
}


.outer {
     
    background-color: #bdd4e7;
   
    border-radius: 12px;
    padding: 21px 20px 34px 20px;
}
.outer:hover {
    p {
        color:white;
    }
    img {
        padding:5px;
    }
     cursor: s-resize;
    background-color: #97adb9;
    border-radius: 12px;
    transition: ease-in-out 1s;
    padding: 21px 20px 34px 20px;
}
.uploadBtn {
    margin-top: 35px;
    margin-bottom: 35px;
}
input[type='file'] {
    color: transparent;
  }
  .inputFile {
    left: 15px;
    height: 100%;
    width: 92%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }