 <!-- line charts start -->
 <div>
  <div class="row dh-grah m-0 p-0 out">
    <div class="col-md-6 col-lg-6 col-12" *ngIf="lineChartUserData">
      <canvas baseChart class="chart" [datasets]="lineChartUserData" [labels]="lineChartUserLabels"
        [options]="lineChartOptions" [colors]="lineChartUserColour" [legend]="lineChartLegend"
        [chartType]="lineChartType"></canvas>
    </div>
    <div class="col-md-6 col-lg-6 col-12" *ngIf="lineChartProjectData">
      <canvas baseChart class="chart" [datasets]="lineChartProjectData" [labels]="lineChartProjectLabels"
        [options]="lineChartOptions" [colors]="lineChartTransactionColour" [legend]="lineChartLegend"
        [chartType]="lineChartType"></canvas>
    </div>
  </div>
  <!-- <div class="row dh-grah mt-4 m-0 p-0 justify-content-center out">
    <div class="col-md-6 col-lg-6 col-12" *ngIf="lineChartEventData">
      <canvas baseChart class="chart" [datasets]="lineChartEventData" [labels]="lineChartEventLabels"
        [options]="lineChartOptions" [colors]="lineChartCallsColour" [legend]="lineChartLegend"
        [chartType]="lineChartType"></canvas>
    </div> -->

  <!-- </div> -->
 </div>
 
  <!-- chart end -->