/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";
// @import "~@ng-select/ng-select/themes/default.theme.css";

// ngx-datatable 
.table {
    .thead-sb {
      background: #1D2136;
      color: #ffffff;
    }
    th,
    td {
      vertical-align: middle;
    }
    th {
      font-weight: normal;
      letter-spacing: 1px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .table-hover tbody tr:hover {
    background-color: rgba(12, 55, 106, 0.15);
  }

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    background-color: #1D2136;
    color: #fff;
  }

  .outer {
    background: #e0e2e27a;
    padding: 22px;
    border-radius: 7px;
  }

  .bottom-line {
    display:block;
     width:100%;
     border-top: 3px solid #ccc;
  }

body,
html {
  font-family: "Arial" !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}