<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " routerLinkActive="active" [routerLink]="['/main/booking-management/past-booking']"
      >Past Booking</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['/main/booking-management/future-booking']"
      >Future Booking</a
    >
  </li>
</ul>
<router-outlet></router-outlet>
